<!-- Top navigation -->
<nav class="navbar navbar-dark bg-dark flex-md-nowrap px-3 shadow justify-content-between text-white">
  <div class="col-sm-4 col-md-3 mr-0 d-flex justify-content-center align-items-center gap-3">
    <img style="width: 50px" src="assets/angular-icon.svg" alt="angular Logo">
    <span class="">NgFirebaseAuthApp</span>
  </div>
  <div class="btn btn-link" (click)="authService.logout()">
    Logout
  </div>
</nav>
<div class="col-sm-12 col-md-9 container-fluid">
  <!-- Main content -->
  <main role="main" class="px-4">
    <div class="inner-adjust">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile</h1>
      </div>
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.userData as user">
        <div class="col-md-12">
          <div class="d-flex justify-content-start gap-5">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                 src="{{(user.photoURL) ? user.photoURL : 'assets/icons8-male-user-64.png'}}"
                 alt="{{user.displayName}}">
            <div class="">
              <h1>Hello, <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong class="fs-6">{{user.uid}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="fixed-bottom bg-dark text-white py-1 px-2 text-center">Made by <a  class="text-lg-center" href="https://github.com/Maxeemja">Maxeemja</a></footer>
</div>

